@model WebApp.Models.GOODSTBL

@{
    ViewBag.Title = "Delete";
}

<h2>登録商品の削除</h2>

<h3>本当にこの商品を削除しますか?</h3>
<div>
    <h4>GOODSTBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GOOSNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOOSNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("商品一覧へ戻る", "Index")
        </div>
    }
</div>
