@model WebApp.Models.GOODSTBL

@{
    ViewBag.Title = "Details";
}

<h2>詳細</h2>

<div>
    <h4>GOODSTBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GOOSNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOOSNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.GOODSID.Trim() }) |
    @Html.ActionLink("商品一覧へ戻る", "Index")
</p>
