@model WebApp.Models.GOODSTBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GOODSTBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GOOSNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOOSNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GOODSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
