@model IEnumerable<WebApp.Models.GOODSTBL>

@{
    ViewBag.Title = "Index";
}

<h2>商品</h2>

<p>
    @Html.ActionLink("新規商品追加", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GOOSNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GOOSNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.GOODSID }) |
            @Html.ActionLink("詳細", "Details", new { id=item.GOODSID }) |
            @Html.ActionLink("削除", "Delete", new { id=item.GOODSID })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("商品在庫画面へ", "index", new {id = UrlParameter.Optional, controller = "STOCKTBLs" })
</p>
