@model IEnumerable<WebApp.Models.GOODSTBL>

@{
    ViewBag.Title = "Index";
}
<style>
    body{
        background-color:aliceblue
    }
</style>

<h2>商品管理</h2>

<p>
    @Html.ActionLink("新規商品追加", "Create")
</p>
<table class="table" style="color:darkblue; outline-style:double">
    <tr style="outline:">
        <th style="font:normal;" >
            @Html.DisplayNameFor(model => model.GOODSID)
        </th>
        <th style="font:xx-large;">
            @Html.DisplayNameFor(model => model.GOODSNM)
        </th>
        <th on>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id =item.GOODSID.Trim() }) |
            @Html.ActionLink("削除", "Delete", new { id =item.GOODSID.Trim() })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("在庫管理画面へ", "index", new {id = UrlParameter.Optional, controller = "STOCKTBLs" })
</p>
