@model IEnumerable<WebApp.Models.GOODSTBL>

@{
    ViewBag.Title = "Index";
    string id = "商品ID";
    string name = "商品名";
    string price = "単価";
}
<style>
    body{
        background-color:azure
    }
</style>

<h2>商品管理</h2>

<p>
    @Html.ActionLink("新規商品追加", "Create")
</p>
<table class="table" style="color:darkblue; outline-style:double">
    <tr>
        <th>
            @Html.DisplayName(id)
        </th>
        <th>
            @Html.DisplayName(name)
        </th>
        <th>
            @Html.DisplayName(price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
            <text>
                円
            </text>
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id =item.GOODSID.Trim() }) |
            @Html.ActionLink("削除", "Delete", new { id =item.GOODSID.Trim() })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("在庫管理画面へ", "index", new {id = UrlParameter.Optional, controller = "STOCKTBLs" })
</p>
