@model WebApp.Models.STOCKTBL

@{
    ViewBag.Title = "Delete";
}

<h2>登録在庫情報の削除</h2>

<h3>本当にこの在庫情報を削除しますか?</h3>
<div>
    <h4>STOCKTBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GOODSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOODSNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTUDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTUDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("商品在庫一覧へ戻る", "Index")
        </div>
    }
</div>
