@model IEnumerable<WebApp.Models.STOCKTBL>

@{
    ViewBag.Title = "Index";
}

<h2>在庫管理</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GOODSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOODSNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TPRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTUDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOODSNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TPRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTUDT)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.DEALID.Trim() }) 
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("商品管理画面へ", "index", new {id = UrlParameter.Optional, controller = "GOODSTBLs" })
</p>
